#img-bg {
    background-image: url('https://imgur.com/TB0xNMc.jpg');
    /*'../../assets/'*/

    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.img-ambar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 69px;
}

body {
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
    
  }
  
  
  h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  
  p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  button:hover{
    background-color:green !important;
  }

  .gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #4fd370, #a3d0dd, #ebdaa3, #f38c06);
    background-size: 300% 300%;
    animation: colors 6s ease infinite;

  }
  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100%{
      background-position: 0% 50%;
    }
  }

  .card-color {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000050;

  }