<nav class="navbar custom navbar-expand navbar-light gradient d-flex align-items-center" style="padding-left: 0px; padding-right: 0px;">
  <div class="d-inline-flex p-2 bd-highlight">
    <a routerLink="/inicio" class="navbar-brand f15 d-flex align-items-center justify-content-center" style="padding: 0px;">
      <img src="https://imgur.com/bFlSEB8.jpg" alt="" width="60" height="60" class="d-inline-block align-text-center">
      AMBAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navPrincipal"
      aria-controls="navPrincipal" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  
    <div class="ml-auto p-2 mr-3">
      
        

      <div><ul class="navbar-nav mr-auto d-flex align-items-center pl-0">
        <li class="nav-item d-flex align-items-center mr-3" >
          <a class="mr-2 text-dark">Olá, <strong>{{nome}}</strong></a>
          <a [routerLink]="['/usuario-edit', id]">
            <a><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </a>
          
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link text-dark">Sair</a>
      
            <a (click)="sair()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          

        </li>

      </ul>
    </div>
    
  </div>
  

</nav>
