<footer class="text-center">
    <!-- Grid container -->
    <div class="container pt-3">
    <h4 class="text-dark fs font-text">Siga-nos nas redes sociais</h4>
        <!-- Section: Social media -->
        <section class="mt-2">
            <!-- Instagram -->
            <a class="btn btn-link"
                href="https://www.instagram.com/generationbrasil/" role="button" data-mdb-ripple-color="dark"><i
                    class="fa fa-instagram"></i></a>

            <!-- Github -->
            <a class="btn btn-link" href="https://github.com/ProjetoAmbar"
                role="button" data-mdb-ripple-color="dark"><i class="fa fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center pb-3">
    
        <a class="text-dark" href="https://github.com/ProjetoAmbar"><strong>Projeto Ambar</strong> &copy; 2022 Copyright</a>
    </div>
    <!-- Copyright -->
</footer>
<!--/Footer-->