<footer class="page-footer font-sm gradient pt-1 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white fs">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/ProjetoAmbar" target="_blank" class="icoGithub">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a> 
                    </li>
                    <li>
                        <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright gradient text-center py-1">
        <span class="text-light fs">&copy; 2022 Copyright</span>
        <a class="text-light" target="_blank" href=""></a>
    </div>
</footer>

