
    <div class="container-fluid">
        <div class="row grid sobrenos">

        <div class="card-container margin">
            <div class="top">
                <div class="image-container">
                    <img src="https://imgur.com/9ioHa8a.jpg" alt="Foto da Juliana Silva">
                </div>
            </div>

            <div class="bottom">
                <h3>Juliana Silva</h3>
                <h4>Desenvolvedora Full Stack</h4>
                <a href="https://www.linkedin.com/in/julianatadeudasilva/" target="_blank" class="btn">Linkedin</a>
                <a href="https://github.com/juxxnn" target="_blank" class="btn">Github</a>
            </div>
        </div>

        <div class="card-container margin">
            <div class="top">
                <div class="image-container">
                    <img src="https://i.imgur.com/VPWsJRT.jpg" alt="Foto do Gabriel Marques">
                </div>
            </div>

            <div class="bottom">
                <h3>Gabriel Marques</h3>
                <h4>Desenvolvedor Full Stack</h4>
                <a href="https://www.linkedin.com/in/gabriel-marques-b95827229/" target="_blank" class="btn">Linkedin</a>
                <a href="https://github.com/Gabriel-M-S" target="_blank" class="btn">Github</a>
            </div>
        </div>

        <div class="card-container margin">
            <div class="top">
                <div class="image-container">
                    <img src="https://i.imgur.com/PN3GxNb.png" alt="Foto da Ariela Dimitria">
                </div>
            </div>

            <div class="bottom">
                <h3>Ariela Dimitria</h3>
                <h4>Desenvolvedora Full Stack</h4>
                <a href="https://www.linkedin.com/in/ariela-dimitria/" target="_blank" class="btn">Linkedin</a>
                <a href="https://github.com/arieladimitria" target="_blank" class="btn">Github</a>
            </div>
        </div>

        <div class="card-container margin">
            <div class="top">
                <div class="image-container">
                    <img src="https://imgur.com/nURD5w3.jpg" alt="Foto do Gabriel Pedro Faria">
                </div>
            </div>

            <div class="bottom">
                <h3>Gabriel Pedro Faria</h3>
                <h4>Desenvolvedor Full Stack</h4>
                <a href="https://www.linkedin.com/in/gabriel-faria-85519022b/" target="_blank" class="btn">Linkedin</a>
                <a href="https://github.com/GabrielPFaria" target="_blank" class="btn">Github</a>
            </div>
        </div>

        <div class="card-container margin">
            <div class="top">
                <div class="image-container">
                    <img src="https://i.imgur.com/fTCpne1.jpg" alt="Foto do Paulo Silva">
                </div>
            </div>

            <div class="bottom">
                <h3>Paulo Silva</h3>
                <h4>Desenvolvedor Full Stack</h4>
                <a href="https://www.linkedin.com/in/paulo-silva07 " target="_blank" class="btn">Linkedin</a>
                <a href="https://github.com/PAUL0SP" target="_blank" class="btn">Github</a>
            </div>
        </div>

        <div class="card-container margin">
            <div class="top">
                <div class="image-container">
                    <img src="https://github.com/viniciusaislan.png " alt="Foto do Vinicius Aislan">
                </div>
            </div>

            <div class="bottom">
                <h3>Vinicius Aislan</h3>
                <h4>Desenvolvedor Full Stack</h4>
                <a href="https://www.linkedin.com/in/viniciusaislan" target="_blank" class="btn">Linkedin</a>
                <a href="https://github.com/viniciusaislan" target="_blank" class="btn">Github</a>
            </div>
        </div>
    </div>
    </div>
