.sobrenos {        
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  
}

.card-container {
    font-size: 16px;
    width: 350px;
    height: 310px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .3);
}

.card-container:hover,
.card-container:hover .bottom {
    transition: .3s ease;
    background: #B3D8CB;
    color: #fff;
}

.card-container:hover .btn,
.card-container:hover h4,
.card-container:hover h3
{
    transition: .4s ease;
    color: #fff
}

.top {
    height: 80px;
    border-radius: 6px;
    background: #B3D8CB;
    display: flex;
    justify-content: center;
}

.image-container {
    background-color: #fff;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 40px;
}

.image-container img {
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: 1s ease;
}

.image-container:hover {
    transform: scale(1.15);
}

.bottom {
    background-color: #fff;
    padding: 20px;
    padding-top: 90px;
    text-align: center;
}

.bottom h3 {
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.bottom h4 {
    line-height: 2;
    font-size: 15px;
    color: #000000;
}

.bottom p {
    color: rgba(0, 0, 0, .7);
    margin-bottom: 20px;
}

.btn {
    background: none;
    padding: 14px 20px;
    color: #B3D8CB;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

.btn:hover {
    border: 1px solid #fff;
}

.grid{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
}

.margin {
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-right: 10px;
    margin-left: 10px;
}





