<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 mt-5 mb-5">

            <div class="row d-flex justify-content-center">

                <div class="col-md-10">
                    <h1 class="text-center">Cadastro</h1>
                    <div class="form-group pt-3">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="usuario" placeholder="Seu nome">
                    </div>
                    <div class="form-group pt-3">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>

                    <div class="form-group pt-3">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="form-group pt-3">
                        <label for="confirmSenha">Confirmar senha</label>
                        <input class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger m-4" routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn btn-success m-4">Cadastrar</button>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>