
<div class="container-fluid gradient">
    <div class="row">

        <div class="col-md-12 mt-3 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-4 d-flex align-items-start flex-column ">
                  <img src="https://i.imgur.com/Q70Mjgv.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                  <img src="https://i.imgur.com/IxunLXl.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                  <img src="https://i.imgur.com/qEX2vGg.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                  <img src="https://i.imgur.com/mwknmST.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                  <img src="https://i.imgur.com/xLgcydH.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                  <img src="https://i.imgur.com/V2OSQzN.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                  <img src="https://i.imgur.com/eGEOEJL.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                  </div>
                <div class="col-md-4">
                    <div class="container rounded pt-3 mt-5 card-color" >
                        <!--Img-ambar-->
                        <img class="img-ambar mt-2" src="https://i.imgur.com/budEY5V.png">
                        <!--/Im-ambar-->
                        <h1 class="text-center mt-1 mb-2">AMBAR</h1>
                    <div class="form-group pt-2">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]="usuarios.nome" class="form-control" type="text" name="nome" id="usuario" placeholder="Seu nome">
                    </div>
                    <div class="form-group pt-2">
                        <label for="usuario">Email</label>
                        <input [(ngModel)]="usuarios.email" class="form-control" type="text" name="email" id="email" placeholder="Seu email">
                    </div>

                    <div class="form-group pt-2">
                        <label for="senha">Senha</label>
                        <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="form-group pt-2">
                        <label for="confirmSenha">Confirmar senha</label>
                        <input [(ngModel)]="usuarios.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-dark text-dark m-4 hov" routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn btn-outline-dark text-dark m-4 hovc" (click)="cadastrar()">Cadastrar</button>
                    </div>
                </div>

                </div>
                <div class="col-md-4 d-flex align-items-end flex-column">
                      <img src="https://i.imgur.com/Q70Mjgv.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                      <img src="https://i.imgur.com/IxunLXl.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                      <img src="https://i.imgur.com/qEX2vGg.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                      <img src="https://i.imgur.com/mwknmST.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                      <img src="https://i.imgur.com/xLgcydH.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                      <img src="https://i.imgur.com/V2OSQzN.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">
                      <img src="https://i.imgur.com/eGEOEJL.png" alt="imagem do fundo" class="mb-3" style="max-width: 7rem;">


                </div>
                </div>
            </div>
        </div>
    </div>
