
.gradient{
  background: linear-gradient(45deg, #4fd370, #a3d0dd, #f38c06);
  background-size: 300% 300%;
  

}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}

.pad{
  padding: 0px;
}

.botao-success:hover{
  background-color:rgb(206, 223, 206) !important;
}

.botao-danger:hover{
  background-color:rgb(238, 192, 192) !important;
}