<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-flex justify-content-center">
      <div class="card mb-2 mt-2 gradient mt-5" style="width: 18rem;  height: 33rem; padding: 10px;">
        <div class="card-body">
          <p class="card-text">Assegurar o acesso confiável, sustentável, moderno e a preço acessível à energia para todas e todos." </p>
         
          <p>E aqui é um espaço para que você possa ler, se informar, compartilhar e aprender.</p>
        </div>
        <br>
        <br>       
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card-body ">
          <button class="btn btn-outline-dark text-dark mr-2" data-toggle="modal" data-target="#novaPostagem">Criar Um Post</button>
        </div>
        <div class="card-body mb-2">
        <button class="btn btn-outline-dark text-dark mr-2"  routerLink="/postagens" >Minhas Postagens</button>
      </div>
        <div class="card-body " style="padding: 4px; ">
          <br>
          <a routerLink="/sobre-nos" class="card-link font-text text-dark justify-content-center">Sobre Nós</a>
          <a routerLink="/contato" class="card-link font-text text-dark justify-content-center">Contato</a>
          <br><br><br><br><br><br><br>
        </div>

      </div>
    </div>


    <div class="col-md-10" id="myDIV">

      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">
        <div class="tab-content mt-5" id="nav-tabContent">

          <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">


            <div class="card-columns">
              <div class="card bg-color text-center" *ngFor='let item of listaPostagens'>
                <img class="card-img-top" src="{{item.imagens_url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <small class="text-muted"> Tema: {{item.temas.tituloTema}}</small>
                  <p class="card-text mt-3">{{item.post}}</p>
                  <p class="card-text"><small class="text-muted">
                      {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                    </small></p>
                  <p class="card-text"><small class="text-muted">
                      by: {{item.usuarios.nome}}
                    </small></p>
                    <a [routerLink]="['/postagens-edit',item.id]" class="text-info mr-3" href="">Editar</a>
                    <a [routerLink]="['/postagens-delete',item.id]" class="text-danger" href="">Apagar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content background">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <label for="titulo">Título</label>
              <input [(ngModel)]='postagens.titulo' type="text" class="form-control" id="titulo"
                placeholder="Digite o título">
            </div>

            <div class="form-group">
              <label for="texto">Texto</label>
              <textarea [(ngModel)]='postagens.post' class="form-control" name="texto" id="texto" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="imagens_url">URL da imagem</label>
              <textarea [(ngModel)]='postagens.imagens_url' class="form-control" name="URL da imagem" rows="1"
                id="imagens_url"></textarea>
            </div>

            <div class="form-group">
              <label for="titulo">Escolha um tema ou <u class="mt-2 mb-2 text-primary click" data-dismiss="modal"
                  routerLink="/temas">cadastre um novo</u>: </label>
              <select class="form-control" name="tema" id="tema" [(ngModel)]="idTema" (change)='findByIdTema()'>
                <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.descricao}}</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="publicar()">Publicar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
