<nav class="navbar navbar-expand-md navbar-light" style="background-color: #B3D8CB; ">
    <div class="container">
      <a class="navbar-brand f15" href="#">
        <img src="https://imgur.com/bFlSEB8.jpg" alt="" width="100" height="100" class="d-inline-block align-text-center">
        AMBAR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navPrincipal" aria-controls="navPrincipal" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navPrincipal">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Contato</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    Sobre Nós:

    Sabemos que hoje em dia temos uma baixa democratização das energias renováveis no Brasil. O impacto e as consequências disso na sociedade gera menos acesso à informação, impactos ambientais negativos, acidentes causados por "gatos de luz", riscos à saúde devido a uma grande parte da população ter que cozinhar com combustíveis poluentes, entre outros problemas.
    
    Por isso resolvemos desenvolver o Ambar, uma rede social com intuito de divulgar informações sobre a ODS #7 para conscientizar a população sobre os benefícios das energias renováveis, cadastro de voluntários e doadores em potencial, além da possibilidade de compartilhamento em outras redes sociais. Quanto mais informação, melhor!
    
    Curiosidade:
    
    Âmbar é uma resina fossilizada proveniente de algumas árvores e que faz referência a palavra grega Eléktron, que deu origem à palavra eletricidade. Os gregos antigos perceberam que, ao atritar o âmbar na pele de animais, esse material adquire a propriedade de atração de pequenos corpos, como penas, tecidos etc. A partir daí os fenômenos de origem elétrica começaram a ser estudados.
    
    Para saber mais sobre a ODS #7:
    
    https://odsbrasil.gov.br/objetivo/objetivo?n=7
    
    https://www.youtube.com/watch?v=Qi5EQ_n0DNo 

    
    <footer class="page-footer font-sm bg-secondary pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-white">Siga-nos nas redes sociais</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social-network">
                        <li>
                            <a href="https://www.facebook.com/generationbrasil/" target="_blank" class="icoFancebook">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a> 
                        </li>
                        <li>
                            <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a> 
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/school/generationbrasil" target="_blank" class="icoLinkedin">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright bg-dark text-center py-3">
            <span class="text-light"> 2022 Copyright </span>
            <a class="text-light" target="_blank" href="https://brasil.generation.org/">brasil.generation.org</a>
        </div>
    </footer>
    
    
